<h2 class="message">Connecting...</h2> <!-- Status message -->
<div class="flex-container">
  <div id="game-container">
  </div>
</div>
<div class="message-ui"> <!--- Messages players send to each other -->
  <input type="text" />
</div>
