html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-family: Helvetica, sans-serif;
}

header {
    color: white;
    background-color: #583958;
    overflow: hidden;
}

main {
    padding: 20px;
}

h2 {
    margin: 0.5em 0;
    margin-left: 20px;
}

.message {
    text-align: center;
}

table {
    margin: auto;
    margin-top: 60px;
    border-collapse: collapse;
}

td {
    height: 62px;
    width: 62px;
    border: 1px solid black;
}

td.mine {
    background-color: blue;
}

td.theirs {
    background-color: red;
}

td:hover {
    background-color: beige;
}

.hidden {
    display: none;
}

form label {
    display: block;
}

form div {
    margin-bottom: 20px;
}
